{{/* Define teams final output. */}}
{{ define "teams.card" }}

{{/* Store current alert status. */}}
{{ $status := .Status }}

{{/* Store external url. */}}
{{ $externalUrl := .ExternalURL }}

{
  "@type": "MessageCard",
  "@context": "http://schema.org/extensions",
  "themeColor": "{{- if eq $status "resolved" -}}2DC72D
                 {{- else if eq $status "firing" -}}
                    {{- if eq .CommonLabels.severity "critical" -}}8C1A1A
                    {{- else if eq .CommonLabels.severity "warning" -}}FFA500
                    {{- else -}}808080{{- end -}}
                 {{- else -}}808080{{- end -}}",
  "summary": "Prometheus Alerts",
  "title": "[{{ $status | title -}}
            {{ if eq $status "firing" }}:{{ .Alerts | len }}{{- end -}}
            ] {{ .CommonLabels.alertname }}",
  "sections": [
  {{- range $index, $alert := .Alerts }}{{- if $index }},{{- end }}
    { 
      "facts": [
        {
          "name": "Severity:",
          "value": "{{ $alert.Labels.severity }}"
        },
        {
          "name": "Description:",
          "value": "{{ $alert.Annotations.description }}"
        }
      ],
      "markdown": true
    }
    {{- end }}
  ],
  "potentialAction": [
    {{- if ne $status "resolved" }}
    {
      "@type": "OpenUri",
      "name": "Notes &#x1F4D3",
      "targets": [{
         "os": "default",
         "uri": "{{ (index .Alerts 0).Annotations.notes }}"
      }]
    },
    {
      "@type": "OpenUri",
      "name": "Grafana &#x1F4C8",
      "targets": [{
         "os": "default",
         "uri": "{{ (index .Alerts 0).Annotations.grafana }}"
      }]
    },
    {
      "@type": "OpenUri",
      "name": "Mute &#x1F515",
      "targets": [{
         "os": "default",
         "uri": "{{ $externalUrl }}/#/silences/new?filter=%7B{{$c := counter}}{{ range $key, $value := .CommonLabels }}{{if call $c}}%22%2C%20{{ end }}{{ $key }}%3D%22{{ $value }}{{- end }}%22%7D"
      }]
    },
    {{- end }}
    {
      "@type": "OpenUri",
      "name": "Query &#x1F50E",
      "targets": [{
         "os": "default",
         "uri": "{{ (index .Alerts 0).GeneratorURL }}"
      }]
    }
  ]
}
{{ end }}
